mat-card {
  width: 550px
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.centred {
  margin: 0;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
