<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        placeholder="Your Title Goes Here"
        type="text"
        ngModel
        name="title"
        required
        minlength="3"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please Enter a Post Title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Your Content Goes Here"
        rows="3"
        ngModel
        name="content"
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid"
        >Please Enter a Content to Post</mat-error
      >
    </mat-form-field>
    <button style="margin-top: 1rem;" mat-raised-button color="accent" type="submit">
      Save Post
    </button>
  </form>
</mat-card>
